---
import Layout from "../../layouts/Layout.astro";
import { allArtiste } from "../../../backend/backend.mjs";
import CardArtistes from "../../components/cardArtistes.astro";

const Artiste = await allArtiste();
console.log(Artiste);
---
<Layout>
    <h2 class="text-center p-2">Découvrez les artistes qui seront présent au festival</h2>
    <div>
        {
            Artiste.map((artiste)=>(
                <CardArtistes artiste={artiste}/>
            ))
        }
    </div>
</Layout>
