---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import { allArtiste } from "../../../backend/backend.mjs";
import CardArtistes from "../../components/cardArtistes.astro";
import Claquettes from "../../assets/img/claquettes.webp";

const artistes = await allArtiste();
console.log(artistes);
---

<Layout>
    <Hero title="Les artistes">
        <div slot="image">
            <Image src={Claquettes} alt="test" class="h-auto w-full" />
        </div>
    </Hero>
    <div
        style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 1rem; align-items: start;"
    >
        {artistes.map((artiste) => <CardArtistes {...artiste} />)}
    </div>
</Layout>
