---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ImageHero from '../assets/img/image_menu.webp';
---

<Layout>
	<Header />
	<main>
		sqjjkdhsqdbhhsxbccshcjxlnclx
		
	</main>
	<Footer />

</Layout>
