---
import Instagram from '../assets/icon/instagram.svg';
import Facebook from '../assets/icon/facebook.svg';
---

<footer class="grille"
style="background-color: var(--color-noir);">
    <div class="col-start-6 col-end-10">
        <h3 style="color: var(--color-blanc)">Flying TapFest</h3>
        <p style="color: var(--color-blanc)">Festival de claquettes et de drônes à Montbéliard</p>
    </div>
    <div>
        <p style="color: var(--color-blanc)">Contact</p>
    </div>
</footer>