---
import Logo from "../assets/icon/logo.svg";
---

<header style="height:150px; background-color: var(--color-noir);">
    <div class="header-top">
        <a href="/" aria-label="Accueil" class="header-logo">
            <Logo class="h-25 w-25 p-2" />
        </a>
        <nav>
            <ul class="header-menu">
                <li><a href="/festival">Le festival</a></li>
                <li><a href="/programme">Programme</a></li>
                <li><a href="/artistes">Artistes</a></li>
                <li><a href="/scenes">Scènes</a></li>
                <li><a href="/infos">Infos pratiques</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <h1 class="text-center" style="color: var(--color-blanc);">
        Flying TapFest
    </h1>
</header>
