---
import Logo from "../assets/icon/logo.svg";
---

<header style="background-color: var(--color-noir);">
    <div>
        <a href="/" aria-label="Accueil">
            <Logo />
        </a>
    </div>
</header>